.Button {

  min-width: 140px;
  display: block;
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: #000;
  outline: none;
  font-size: 17px;
  cursor: pointer;
  transition: box-shadow .1s linear;
  text-align: center;
  text-decoration: none;
  margin: 0 25px;

  &:hover {
    box-shadow: 1px 1px 3px #000000;

  }
  &:hover:active {
    box-shadow: inset 1px 1px 3px #000000;
  }


  &:disabled,
  &.disabled {
    pointer-events: none;
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }
}
